<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React+redux threejs</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #boo-link {
        position: absolute;
        background: #fff;
        right: .5em;
        top: .5em;
        z-index: 2;
      }
      #home-link {
        position: absolute;
        background: #fff;
        right: .5em;
        bottom: .5em;
        z-index: 2;
      }
      a {
        padding: .2em 1em;
        color: #0f3894;
        font-weight: bold;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <a href="/boo" id="boo-link">Scary thing over there</a>
      <a href="/" id="home-link">Home</a>
    </div>
  </body>
</html>
